.content {
    background-color: royalblue;
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: var(--background);
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    flex:2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imagetext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverimage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: azure;
    border-radius: 20px;
}

.text {
    font-size: 26px;
    font-weight: 300;
}

.image {
    width: 30px;
    height: 30px;
}











.menus {
    flex:9;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navuser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.themingtoggle {
    font-size: 50px;
    margin-left: 10px;
}

.userimagetext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usertext {
    margin-left: 5px;
}


























.maincontent {
    background-color: bisque;
    height: 100vh;
    width: 100%;
}