.overlay {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s, height 4s;
}

.modal {
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    z-index: 3;
    background-color: #fff;
    border-radius: 10px;
    line-break: anywhere;
    overflow-y: scroll;
}

.content {
    padding: 20px;
    width: 500px;
    line-break: anywhere;

}

@media only screen and (max-width: 400px) {
    .modal {
        width: 320px;
        height: 500px;
        overflow-y: scroll;
        line-break: anywhere;

    }


}